<!-- Page html des auteurs (nous) du Projet 2-->
<!-- Authors : Alsteens Louis, Arys Simon et El Ouilinti Aymen. -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='design_auteurs.css') }}">
        <meta name="author" content="Alsteens Louis, Arys Simon, El Ouilinti Aymen">
        <meta name="description" content="Page HTML d'acceuil du Projet2.">
        <title>Projet2 - Auteurs</title>
    </head>
    <body>
        <h1><a href="/" id="title">Projet 2 - Visualisation Inginious</a></h1>
        <ul id="auteurs">
          <li>Alsteens Louis</li>
          <li>Arys Simon</li>
          <li>El Ouilinti Aymen</li>
        </ul>
    </body>
</html>
