<!-- Page html d'accueil du Projet 2-->
<!-- Authors : Alsteens Louis, Arys Simon et El Ouilinti Aymen. -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='design_index.css') }}">    <!-- Lie au fichier design_index.css -->
        <meta name="author" content="Alsteens Louis, Arys Simon, El Ouilinti Aymen">
        <meta name="description" content="Page HTML d'accueil du Projet2.">
        <title>Projet2 - Accueil</title>
    </head>
    <body>
        <h1>Projet 2 - Visualisation Inginious</h1>
            <ul id="logo">
                <li><a href="https://uclouvain.be/"><img src="https://uclouvain.be/sites/all/themes/ucltheme/logo.png" alt="UCL_logo" class="UCL_logo." /></a></li>
                <li><a href="https://uclouvain.be/fr/facultes/epl"><img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Logo_Ecole_Polytechnique_Louvain.jpg" alt="EPL_logo" class="EPL_logo" /></a></li>
            </ul>
            <ul id="menu">
                <li><a href="selection_graphique">Graphiques</a></li>
                <li><a href="auteurs">Auteurs</a></li>
            </ul>
    </body>
</html>
