<!-- Page html d'acceuil -->
<!-- Authors : Alsteens Louis, Arys Simon et El Ouilinti Aymen. -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='design.css') }}">-->
        <meta name="author" content="Alsteens Louis, Arys Simon, El Ouilinti Aymen">
        <meta name="description" content="Page HTML contenant des données liées au Covid-19.">
        <title>Informations relatives au COVID-19</title>
    </head>
    <body>
        <h1>Quelques informations sur le coronavirus</h1>
        <ul style="list-style-type:circle">
            <li>Le coronavirus est une maladie infectieuse émergente(causée par un agent infecteux), contagieuse avec transmission interhumaine vie des goutelettes respiratoires ou en touchant des surfaces contaminées.<br>
                Elle est innatendue parce qu'elle est réellement nouvelle. Cette pandémie provoquée par le coronavirus a débuté en novembre/décembre 2019 dans la ville de Wuhann, en chine centrale. <br>
            </li>
            <li>Ce lien vous dirigera vers un graphique contenant quelques dates reliées au nombre de cas confirmés: <br>
            <!-- Redirection vers la page flask -->
            <a href= "graphique">!!!!!!!LIEN VERS LE GRAPHIQUEEEE!!!!!!!!</a>
            </li>
        </ul>
        <!-- Une image de virus-->
        <img src="{{url_for('static', filename='giphy.gif')}}" alt="Un virus" width="500" height="500">
    </body>
</html>
