<!-- Page html de selection du graphique du Projet 2-->
<!-- Authors : Alsteens Louis, Arys Simon et El Ouilinti Aymen. -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='design_selection.css') }}">     <!-- Lie au fichier design_selection.css -->
        <meta name="author" content="Alsteens Louis, Arys Simon, El Ouilinti Aymen">
        <meta name="description" content="Page HTML de selection du graphique du Projet2.">
        <title>Projet2 - Sélection</title>
    </head>
    <body>
        <h1 title="Retour à l'accueil"><a href="/" id="title">Projet 2 - Visualisation Inginious</a></h1>
            <h2>Choisissez le cours pour lequel vous désirez afficher le graphique.</h2>
            <ul id="cours">
                <li><a href="graphique_lsinf1252">LSINF1252</a></li>
                <li><a href="graphique_lsinf1101-python">LSINF1101-PYTHON</a></li>
                <li><a href="graphique_lepl1402">LEPL1402</a></li>
            </ul>
    </body>
</html>
