<!-- Page html de selection du graphique du Projet 2-->
<!-- Authors : Alsteens Louis, Arys Simon et El Ouilinti Aymen. -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='design_selection.css') }}">     <!-- Lie au fichier design_selection.css -->
        <meta name="author" content="Alsteens Louis, Arys Simon, El Ouilinti Aymen">
        <meta name="description" content="Page HTML de selection du graphique du Projet2.">
        <title>Projet2 - Sélection</title>
    </head>
    <body>
        <h1 title="Retour à l'accueil"><a href="/" id="title">Projet 2 - Visualisation Inginious</a></h1>
            <h2>Choisissez le graphique que vous désirez regarder.</h2>
            <div class="row">
              <div class="column">
                <p class="cours">LEPL1402</p>
                <ul class="graphs">
                  <li><a href="/graphiques_resultats/LEPL1402">Résultats des soumissions</a></li>
                  <li><a href="/graphiques_essais/LEPL1402">Etudiants par essais moyens</a></li>
                  <li><a href="/graphiques_reussis_rates/LEPL1402">Tâches réussies et ratées</a></li>
                  <li><a href="/graphiques_sub_per_day/LEPL1402">Soumissions par jour</a></li>
                </ul>
              </div>
              <div class="column">
                <p class="cours">LSINF1101-PYTHON</p>
                <ul class="graphs">
                  <li><a href="/graphiques_resultats/LSINF1101-PYTHON">Résultats des soumissions</a></li>
                  <li><a href="/graphiques_essais/LSINF1101-PYTHON">Etudiants par essais moyens</a></li>
                  <li><a href="/graphiques_reussis_rates/LSINF1101-PYTHON">Tâches réussies et ratées</a></li>
                  <li><a href="/graphiques_sub_per_day/LSINF1101-PYTHON">Soumissions par jour</a></li>
                </ul>
              </div>
              <div class="column">
                <p class="cours">LSINF1252</p>
                <ul class="graphs">
                  <li><a href="/graphiques_resultats/LSINF1252">Résultats des soumissions</a></li>
                  <li><a href="/graphiques_essais/LSINF1252">Etudiants par essais moyens</a></li>
                  <li><a href="/graphiques_reussis_rates/LSINF1252">Tâches réussies et ratées</a></li>
                  <li><a href="/graphiques_sub_per_day/LSINF1252">Soumissions par jour</a></li>
                </ul>
              </div>
            </div>

            <h3 class="cours">Comparaisons Sinf/Ingi</h3>
            <ul class="graphs_comparaison">
                <li class="comparaison"><a href="graphique_taux_de_reussite">Taux de réussite</a></li>
            </ul>

    </body>
</html>
