<!-- Page html de selection du graphique du Projet 2-->
<!-- Authors : Alsteens Louis, Arys Simon et El Ouilinti Aymen. -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='design_selection.css') }}">     <!-- Lie au fichier design_selection.css -->
        <meta name="author" content="Alsteens Louis, Arys Simon, El Ouilinti Aymen">
        <meta name="description" content="Page HTML de selection du graphique du Projet2.">
        <title>Projet2 - Sélection</title>
    </head>
    <body>
        <h1 title="Retour à l'accueil"><a href="/" id="title">Projet 2 - Visualisation Inginious</a></h1>
            <h2>Choisissez le graphique que vous désirez regarder.</h2>

            <ul id="cours">
              <li>LEPL1402</li>
              <li>LSINF1101-PYTHON</li>
              <li>LSINF1252</li>
            </ul>

            <div class="row">
              <div class="column">
                <ul class="graphs">
                  <li><a href="graphique_resultats_lepl1402">Résultats</a></li>
                  <li><a href="graphique_essais_lepl1402">Etudiants/Essais</a></li>
                  <li><a href="graphique_reussis_rates_lepl1402">Réussis/Ratés</a></li>
                </ul>
              </div>
              <div class="column">
                <ul class="graphs">
                  <li><a href="graphique_resultats_lsinf1101_python">Résultats</a></li>
                  <li><a href="graphique_essais_lsinf1101_python">Etudiants/Essais</a></li>
                  <li><a href="graphique_reussis_rates_lsinf1101_python">Réussis/Ratés</a></li>
                </ul>
              </div>
              <div class="column">
                <ul class="graphs">
                  <li><a href="graphique_resultats_lsinf1252">Résultats</a></li>
                  <li><a href="graphique_essais_lsinf1252">Etudiants/Essais</a></li>
                  <li><a href="graphique_reussis_rates_lsinf1252">Réussis/Ratés</a></li>
                </ul>
              </div>
            </div>

            <h3>Comparaisons Sinf/Ingi</h3>
            <ul class="graphs_comparaison">
                <li class="comparaison"><a href="graphique_je_sais_pas">Je sais pas</a></li>
            </ul>

    </body>
</html>
