/*
CSS stylesheet pour la page "selection_graphique.html".
Authors : Arys Simon, Alsteens Louis, El Ouilinti Aymen.
*/


/* Page entière */
html {
  background-color: white;
}

/* Titre */
h1 {
  text-align: center;
  margin: 1%;
  border: 4px double #1E90FF;
}

#title{
  color: #1E90FF;
  text-decoration: none;
}

#title:hover {
  font-weight: bold;
  color: blue;
}

/* Sous-titre */
h2 {
  text-align: center;
  font-style: oblique;
  font-weight: normal;
  font-family: Verdana;
}

/* Bouttons pour les graphiques */

#cours {
  list-style: none;
  padding: 0.1%;
  text-align: center;
  font-size: 150%;
  font-family: Verdana;
}

#cours > li {
  display: inline;
  padding: 8%
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#colonne {
  display: table;
}

.graphs {
  list-style: none;
  text-align: center;
  font-size: 150%;
}

.graphs > li {
  list-style: none;
  padding-top: 20%;
  text-align: center;
}

.graphs > li > a {
  color: blue;
  border: 7px inset blue;
  border-radius: 7px;
  transition: all 0.3s;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  text-decoration: none;
  font-family: Verdana;
  font-size: 100%;
}

.graphs > li > a:hover {
  color: #1E90FF;
  border-radius: 50px;
  border-color: #1E90FF;
}

h3 {
  padding-top: 5%;
  text-decoration: none;
  font-family: Verdana;
  text-align: center;
}



.graphs_comparaison {
  list-style: none;
  text-align: center;
  font-size: 150%;
}

.graphs_comparaison > li {
  list-style: none;
  padding-top: 5%;
  text-align: center;
}

.graphs_comparaison > li > a {
  color: blue;
  border: 7px inset blue;
  border-radius: 7px;
  transition: all 0.3s;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-decoration: none;
  font-family: Verdana;
  font-size: 100%;
}

.graphs_comparaison > li > a:hover {
  color: #1E90FF;
  border-radius: 50px;
  border-color: #1E90FF;
}
