/*
CSS stylesheet pour la page "auteurs.html".
Authors : Arys Simon, Alsteens Louis, El Ouilinti Aymen.
*/


/* Page entière */
html {
  background-color: white;
}

/* Titre */
h1 {
  text-align: center;
  margin: 1%;
  border: 4px double #1E90FF;
}

#title{
  color: #1E90FF;
  text-decoration: none;
}

#title:hover {
  font-weight: bold;
  color: blue;
}

/* Auteurs */
#auteurs {
  background-color: #000080;
  padding: 4%;
  font-size: 16pt ;
  text-align: center;
  color: white;
  text-decoration: none;
  list-style: none;
}

p {
  font-family: Verdana;
}

/* Mails */
.sousliste {
  list-style: none;
  padding: 2%;
}

.mail {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  font-size: 16pt;
  padding: 0.5%;
}

.mail:hover {
  font-weight: bold;
  color: grey;
  transition: all 0.2s ;
}

#logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2%;
}
