/*
CSS stylesheet pour la page "Auteurs".
Authors : Arys Simon, Alsteens Louis, El Ouilinti Aymen.
*/


/* Page entière */
html {
  background-color: white;
}

/* Titre */
h1 {
  text-align: center;
  margin: 1%;
  border: 4px double #1E90FF;
  background-color: white;
}

#title{
  color: #1E90FF;
  text-decoration: none;
}

#title:hover {
  font-weight: bold;
  color: blue;
}

/* Auteurs */
#auteurs {
  background-color: #000080;
  padding: 1%;
  color: white;
}

li {
  padding: 2%;
}

/* Mails */
.mail {
  color: white;
  text-decoration: none;
  font-size: 18pt;
}

.mail:hover {
  font-weight: bold;
}

.EPL_logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
}
