/*
CSS stylesheet
Authors : Arys Simon, Alsteens Louis, El Ouilinti Aymen.
*/
html {
  background-color: #C4C4C4;
}
body {
  background-color: #CEEDFF;
  margin: 20px;
  border: 3px solid black;
}
h1 {
  text-align: center;
  color: white;
  margin: 30px;
  border: 3px solid black;
  background-color: #6F6F6F;
}

h1:hover {
  color: #5A5A5A;
}
