/*
CSS stylesheet pour la page "Accueil".
Authors : Arys Simon, Alsteens Louis, El Ouilinti Aymen.
*/


/* Page entière */
html {
  background-color: white;
}

/* Titre */
h1 {
  text-align: center;
  color: blue;
  margin: 1%;
  border: 7px double #1E90FF;
}

/* Photo logo */
#logo {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.UCL_logo
{
  position: relative;
}

.EPL_logo
{
  position: relative;
  width: 70px;
  padding-right: 40px;
}


/* Menu*/
#menu {
  background-color: #000080;
  margin-left: 10%;
  margin-right: 10%;
  padding: 8%;

}
#menu > li{
  list-style: none;
  padding: 10%;
  text-align: center;
}
#menu > li > a{
  position: relative;
  color: #000080;
  text-decoration: none;
  font-size: 200%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 4px solid #1E90FF;
  text-align: center;
  background-color: white;
  font-family: Arial;
}
#menu > li > a:hover{
  background-color: white;
  font-weight: bold;
}
